{% extends "base.html" %}

{% block main %}
  <main>
    <ul class="section-pages">
      {% for page in section.pages %}
        <li>
          <span>
            <i>
              <time datetime='{{ page.date | date(format='%+') }}' pubdate>
                {{ page.date | date(format=config.extra.date_format) }}
              </time>
            </i>
          </span>
          <a href="{{ page.permalink }}">{{ page.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </main>
{% endblock %}
